<div class=container>

<%= form_for([@cafe, @session]) do |f| %>
  <% if @session.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%Time.use_zone("Pacific Time (US & Canada)") do%>
    <%= f.datetime_select :start %>
    <%end%>
  </div>
  <div class="field">
    <%= f.label :finish %><br>
    <%Time.use_zone("Pacific Time (US & Canada)") do%>
    <%= f.datetime_select :finish %>
    <%end%>
  </div>

  <br>
  <p>Your credits will be charged once you create your session.</p>
  <p>Sessions are non-refundable.</p>

  <br>

  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-primary'%>
    <%end%>
  </div>

</div>
