<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @session.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @session.finish %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
