<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Session has been created!</h1>

     <div> <%=image_tag attachments['cafeImage.jpg'].url%> </div>
     <br>
     <h2><%= @cafe.name %></h2>
     <p><%= @cafe.address %><br>
       <%= @cafe.city %>
       <%= @cafe.state %>
       <%= @cafe.zipcode %>
     </p>
     <p><%= @cafe.phone %></p>

    <h3>
      Your session duration:<br>
    </h3>
    <p>
      Start Time: <%=@session_start.strftime("%m/%d %l:%M%p")%>
    </p>
    <p>
      End Time: <%=@session_finish.strftime("%m/%d %l:%M%p")%>
    </p>
    <h1>Check-in Instructions</h1>
    <p>
      <%=@cafe.checkin%>
    </p>
    <h3>Thanks for coming in and have a great, productive day!</h3>

    <br>
    <p>
      Attachements---------------------
    </p>
  </body>
</html>
