<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new Session has been created!</h1>

    
     <br>

     <h2><%= @cafe.name %></h2>
     <p><%= @cafe.address %><br>
       <%= @cafe.city %>
       <%= @cafe.state %>
       <%= @cafe.zipcode %>
     </p>

     <h2>User</h2>

     <%=@user.name%>
     <%=@user.email%>


    <h3>
      Session duration:<br>
    </h3>
    <p>
      Start Time: <%=@session_start.strftime("%m/%d %l:%M%p")%>
    </p>
    <p>
      End Time: <%=@session_finish.strftime("%m/%d %l:%M%p")%>
    </p>

    <br>

    <p>
      Attachements---------------------
    </p>

  </body>
</html>
