
<div class="jumbotron">
  <div class="jumbo-container">
    <h2>Work From Anywhere</h2>
  </div>
</div>


<div class="container">



<%- model_class = Cafe -%>

<div class="row">
  <% @caves.each do |cafe| %>
      <div class="thumbnail" id="image">
        <%= link_to image_tag(cafe.image.url), cafe, :action => "startSpinner" %>
        <div class="caption"> <span>
          <h3><%= cafe.name %></h3>
          <h4><%= number_to_currency(cafe.rate)%> /hour</h4>
          <p>
            <%@review = Review.where(cafe_id: cafe.id)%>
            <%if @review.blank? %>
              <%@avg_rating = 0%>
            <%else%>
              <%@avg_rating = @review.average(:rating).round(2)%>
            <%end%>
            <div class="star-rating" data-score= <%= @avg_rating %> ></div>
            <p><%= "#{@review.length} reviews" %></p>
          </p>

          </span></div>
        </div>
    <%end %>
</div>




</div>


<div id="loading" class="loading">Loading&#8230;</div>

<!-- load spinner on click-->
<script type="text/javascript">
$('#loading').hide();
//fix on click div instead of onclick document
$(document).on("click", function() {
        $('#loading').show();
        setTimeout(function() {
                   $('#loading').hide();
             }, 7000);
    });
</script>
<!-- //load spinner-->

<!-- star rating -->
<script>

  $('.star-rating').raty({
    path: '/images/ratyrate',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });

</script>

<!-- reload page once to load javascript -->
<script type="text/javascript">
$(document).ready(function(){
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});
</script>
