<div class="container container-banner">

  <a href="/pages/about#" style="color:#FFFFFF;">

      <h1>CoWorking Space That Welcomes You</h1>
      <h2>Find unique places to meet, work, create, and make</h2>

</a>
</div>
<br>
<div class="container">

<%- model_class = Cafe -%>

<div class="row">
  <% @caves.each do |cafe| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(cafe.image.url), cafe %>
        <div class="caption">
          <h3><%= cafe.name %></h3>
          <p>
            <%@review = Review.where(cafe_id: cafe.id)%>
            <%if @review.blank? %>
              <%@avg_rating = 0%>
            <%else%>
              <%@avg_rating = @review.average(:rating).round(2)%>
            <%end%>
            <div class="star-rating" data-score= <%= @avg_rating %> ></div>
            <p><%= "#{@review.length} reviews" %></p>
            <br>
            <%= cafe.description %><br><br>
            <%= cafe.address %><br>
            <%= cafe.city %>
            <%= cafe.state %>
            <%= cafe.zipcode %><br>
            <%= link_to 'Destroy', cafe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
          </p><br>

        </div>
        </div>
      </div>
    <%end %>
</div>



<script>
  $('.star-rating').raty({
    path: '/images/ratyrate',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

</div>
