
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @cafe.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @cafe.name %></h3>
    <p><%= @cafe.address %><br>
      <%= @cafe.city %>
      <%= @cafe.state %>
      <%= @cafe.zipcode %>
    </p>
    <p><%= @cafe.description %></p>
    <p>Owner: <%= @cafe.user.name %></p>
    <br>
    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p><%= "#{@reviews.length} reviews" %></p>
    <br>
    <div class = "center">
      <%= link_to "Start Session", new_cafe_session_path(@cafe), class: "btn btn-primary" %>
    </div>
  </div>
</div>

<%= link_to "Write a Review", new_cafe_review_path(@cafe), class: "btn btn-default" %>
<%= link_to 'Back', caves_path, class: "btn btn-link" %>
<%= link_to 'Edit', edit_cafe_path(@cafe), class: "btn btn-link", data: {no_turbolink: true} %>

<% if (current_user == @cafe.user) %>
  <%= link_to cafe_path(@cafe), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to delete this cafe?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
  <%= glyph 'remove' %>
<%- end -%>
<%end %>

<br>
<br>

<div class = "row ">
<%if @reviews.blank? %>
  <h3> No reviews yet. Be the first to write one!</h3>
<%else%>

<table class="table">
  <thead>
    <tr>
      <th class="col-md-3"></th>
      <th class="col-md-9"></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <h4>
              <%= "#{review.user.name}" %>
          </h4>
              <p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
          </td>
        <td>
        <div class = "panel panel-default form-style">
          <div class="star-rating" data-score= <%= review.rating %> ></div>
          <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<%end%>
</div>

<script>
  $('.star-rating').raty({
    path: '/images/ratyrate',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
