<!DOCTYPE html>
<html>
<head>
  <title>native|Nomadic</title>


  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  <!--Include Custom css-->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <!--Include Custom glyph-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



  <!--include image gallery-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <!-- <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css"> -->


  <!--Include Stripe-->
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"]%>
<meta name="viewport" content="width=device-width, initial-scale=1"/><!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? or Rails.env.development? %>

  <!-- #Spinner for every page   -->
  <div id="spinner" class="spinner" style="display:none;">
      <img id="img-spinner" src="ajax-loader.gif" alt="Loading"/>
  </div>
  <!-- ### -->

</head>
<body>
<%= render partial: "elements/navbar" %>
<%= bootstrap_flash %>

<!-- <div class="container"> -->

<%= yield %>

<!-- </div> -->


</body>
</html>
